################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/practice.linq.prj/obj
/src/practice.linq.prj/bin/
/src/.vs/
